* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
  height: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
input {
  padding-left: 9px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.header {
  background: url(http://www.huo68.com/statics/images/head.jpg);
}
.header .head {
  width: 1024px;
  margin: 0 auto;
  padding: 13px 0px;
}
.header .head .tel {
  float: left;
  color: #ededed;
}
.header .head ul {
  float: right;
}
.header .head ul li {
  color: #ededed;
  float: left;
  line-height: 20px;
}
.header .head ul li a {
  color: #ededed;
}
.header .head ul li a:hover {
  color: #feaf51;
}
.header .head ul li .active {
  color: #feaf51;
}
.header .head ul .user {
  padding-left: 33px;
  background: url(http://www.huo68.com/statics/images/user.png) no-repeat left;
}
.header .head ul .login {
  margin-left: 24px;
  color: #feaf51;
}
.header .head ul .test {
  margin-left: 62px;
}
.logo_wrap {
  width: 100%;
  min-width: 1024px;
  background-color: #fefefe;
}
.logo_wrap .logo {
  width: 1024px;
  margin: 0 auto;
  padding: 53px 0px;
}
.content {
  background: #f3f3f3;
  padding-top: 31px;
  padding-bottom: 65px;
  z-index: -2;
}
.content .logo {
  width: 1024px;
  margin: 0 auto;
  padding: 53px 0px;
}
.content .main_1 {
  background: url(http://www.huo68.com/statics/images/info_body2.png) no-repeat;
  position: relative;
  z-index: 0;
  width: 904px;
  padding: 50px 60px 50px;
  margin: 0px auto;
}
.content .main_1 .person {
  position: absolute;
  display: none;
  margin-top: 25px;
}
.content .main_1 .company {
  position: absolute;
  display: none;
}
.content .main_1 .register_active {
  display: block;
}
.content .main_1 h1 {
  text-align: center;
  font-size: 30px;
  height: 39px;
  color: #332c2b;
  margin: 0;
  font-weight: 400;
}
.content .main_1 .change {
  width: 310px;
  margin: 45px auto 0;
}
.content .main_1 .change li {
  float: left;
  margin: 0 36px;
  width: 83px;
}
.content .main_1 .change li p {
  font-size: 14px;
  color: #252525;
  text-align: center;
  margin-top: 10px;
}
.content .main_1 .change li p input {
  margin-right: 8px;
  outline: none;
  position: relative;
  top: 2px;
}
.content .main_1 .me_car {
  border-top: 1px dashed #dbdbdb;
  padding-top: 10px;
}
.content .main_1 .info {
  width: 814px;
  margin: 0 auto;
}
.content .main_1 .info h4 {
  color: #252525;
  font-size: 14px;
  padding-bottom: 12px;
  font-weight: normal;
  border-bottom: 1px dashed #dbdbdb;
  margin-bottom: 15px;
}
.content .main_1 .info .bttn .sure {
  height: 29px;
  width: 118px;
  outline: none;
  background: url(http://www.huo68.com/statics/images/butn.png) no-repeat 0px 0px;
  color: #fff;
  border: none;
  font-size: 14px;
}
.content .main_1 .info .bttn .sure:link {
  background-position: 0px 0px;
}
.content .main_1 .info .bttn .sure:visited {
  background-position: 0px 0px;
}
.content .main_1 .info .bttn .sure:hover {
  background-position: 0px -29px;
}
.content .main_1 .info .bttn .sure:active {
  background-position: 0px -58px;
}
.content .main_1 .info_1 {
  overflow: hidden;
  margin-left: 85px;
  width: 814px;
  position: relative;
}
.content .main_1 .info_1 .car_info {
  position: relative;
  overflow: hidden;
  width: 900px;
  left: -60px;
}
.content .main_1 .info_1 .car_info li {
  float: left;
  width: 224px;
  text-align: center;
  font-size: 14px;
}
.content .main_1 .info_1 .car_info .li_1 {
  height: 69px;
  padding: 30px 0px 18px;
  border-left: 1px solid #eeeded;
  border-bottom: 1px dashed #eeeded;
}
.content .main_1 .info_1 .car_info .li_1 .img {
  height: 38px;
  margin: 0px auto 18px;
  background: url(http://www.huo68.com/statics/images/car_info.png) no-repeat;
}
.content .main_1 .info_1 .car_info .li_1 .img_1 {
  width: 63px;
  background-position: 0px 0px;
}
.content .main_1 .info_1 .car_info .li_1 .img_2 {
  width: 73px;
  background-position: -65px 0px;
}
.content .main_1 .info_1 .car_info .li_1 .img_3 {
  width: 100px;
  background-position: -140px 0px;
}
.content .main_1 .info_1 .car_info .li_1 .img_4 {
  width: 40px;
  background-position: -241px 0px;
}
.content .main_1 .info_1 .car_info input[type="radio"] {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.content .main_1 .info_1 .car_info .li_2 {
  height: 45px;
  padding-top: 15px;
  border-left: 1px solid #eeeded;
  color: #252525;
}
.content .main_1 .info_1 .car_info .li_2 input[type="radio"] {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.content .main_1 .info_1 .table {
  width: 430px;
  margin: 60px auto 50px;
  position: relative;
}
.content .main_1 .info_1 .table li {
  float: left;
  margin-bottom: 20px;
  color: #332c2b;
  font-size: 14px;
}
.content .main_1 .info_1 .table li input {
  width: 144px;
  padding-left: 9px;
  font-size: 12px;
  height: 20px;
  color: #000000;
  border: 1px solid #d9d9d9;
  margin-left: 15px;
}
.content .main_1 .info_1 .table .mar_l {
  margin-left: 25px;
}
.content .main_1 .info_1 .table a {
  position: absolute;
  right: 0;
  top: 35px;
  color: #feae4f;
}
.content .main_1 .info_1 h1 {
  text-align: center;
  font-size: 30px;
  color: #332c2b;
}
.content .main_1 .info_1 h1 span {
  font-size: 14px;
  color: #252525;
}
.content .main_1 .info_1 h1 input {
  margin: 0px 8px 0px 15px;
}
.content .main_1 .info_1 h4 {
  color: #252525;
  font-size: 14px;
  padding-bottom: 12px;
  font-weight: normal;
  border-bottom: 1px dashed #dbdbdb;
  margin-bottom: 15px;
}
.content .main_1 .info_1 .text {
  margin-bottom: 60px;
}
.content .main_1 .info_1 .text p {
  line-height: 20px;
  font-size: 12px;
  color: #7d7d7d;
}
.content .main_1 .info_1 .text p .number {
  text-indent: 64px;
  font-size: 12px;
  color: #7d7d7d;
}
.content .main_1 .info_1 .paper ul li {
  float: left;
  width: 126px;
  height: 126px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0px 27px 0px 75px;
  background: url(http://www.huo68.com/statics/images/paper.png) no-repeat;
  position: relative;
}
.content .main_1 .info_1 .paper ul li p {
  text-align: center;
}
.content .main_1 .info_1 .paper ul li .img {
  margin: 8px 0 15px;
}
.content .main_1 .info_1 .paper .ul_2 {
  margin: 0px 51px;
  width: 456px;
  margin: 0 auto;
}
.content .main_1 .info_1 .basic_set {
  width: 480px;
  margin-bottom: 70px;
}
.content .main_1 .info_1 .basic_set .name {
  width: 182px;
  padding: 4px 0px 4px 8px;
  margin-left: 11px;
  margin-right: 24px;
  outline: none;
  color: #cccccc;
  font-size: 12px;
}
.content .main_1 .info_1 .basic_set .tel {
  margin-left: 11px;
  width: 156px;
  padding: 4px 0px 4px 8px;
  outline: none;
  color: #cccccc;
  font-size: 12px;
}
.content .main_1 .info_1 .basic_set .change_pws {
  margin-top: 15px;
  text-align: right;
}
.content .main_1 .info_1 .basic_set .change_pws a {
  color: #feae4f;
  font-size: 12px;
}
.content .main_1 .info_1 .verify {
  width: 580px;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 40px;
  border-top: 1px dashed #dbdbdb;
}
.content .main_1 .info_1 .verify .li_1 {
  padding-left: 170px;
}
.content .main_1 .info_1 .verify .li_2 {
  padding-left: 158px;
}
.content .main_1 .info_1 .verify li {
  margin-bottom: 20px;
}
.content .main_1 .info_1 .verify li input {
  margin-left: 15px;
  width: 142px;
  padding-left: 5px;
  color: #000;
}
.content .main_1 .info_1 .verify li .msg {
  background: url(http://www.huo68.com/statics/images/btn_3.png) no-repeat;
  width: 118px;
  height: 29px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffab48;
  margin-right: 35px;
}
.content .main_1 .info_1 .sure {
  height: 29px;
  width: 118px;
  outline: none;
  background: url(http://www.huo68.com/statics/images/butn.png) no-repeat 0px 0px;
  color: #fff;
  border: none;
  font-size: 14px;
}
.content .main_1 .info_1 .sure:link {
  background-position: 0px 0px;
}
.content .main_1 .info_1 .sure:visited {
  background-position: 0px 0px;
}
.content .main_1 .info_1 .sure:hover {
  background-position: 0px -29px;
}
.content .main_1 .info_1 .sure:active {
  background-position: 0px -58px;
}
.content .main_1 .verify {
  width: 580px;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 40px;
  border-top: 1px dashed #dbdbdb;
}
.content .main_1 .verify .li_1 {
  padding-left: 170px;
}
.content .main_1 .verify .li_2 {
  padding-left: 158px;
}
.content .main_1 .verify li {
  margin-bottom: 20px;
}
.content .main_1 .verify li input {
  margin-left: 15px;
  width: 147px;
}
.content .main_1 .verify li .msg {
  background: url(http://www.huo68.com/statics/images/btn_3.png) no-repeat;
  width: 118px;
  height: 29px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffab48;
  margin-right: 35px;
}
.content .main_1 .verify li .msg:link {
  background: url(http://www.huo68.com/statics/images/btn_3.png) no-repeat;
}
.content .main_1 .verify li .msg:visited {
  background: url(http://www.huo68.com/statics/images/btn_3.png) no-repeat;
}
.content .main_1 .verify li .msg:hover {
  background: url(http://www.huo68.com/statics/images/btn_8.png) no-repeat;
}
.content .main_1 .verify li .msg:active {
  background: url(http://www.huo68.com/statics/images/btn_9.png) no-repeat;
}
.content .main_2 {
  background: url(http://www.huo68.com/statics/images/info_body1.png) no-repeat;
  height: 742px;
}
.content .main_3 {
  background: url(http://www.huo68.com/statics/images/info_body4.png) no-repeat;
  height: 1023px;
}
.content .main {
  width: 904px;
  margin: 0 auto;
  position: relative;
  padding: 50px 60px 0px;
  height: 901px;
  background: url(http://www.huo68.com/statics/images/info_body.png) no-repeat;
}
.content .main .info_body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.content .main h3 {
  height: 22px;
  font-size: 20px;
  color: #332c2b;
  padding-bottom: 22px;
  border-bottom: 1px dashed #dbdbdb;
}
.content .main .title {
  font-size: 14px;
  color: #252525;
  margin: 9px 0px 13px;
}
.content .main .success {
  font-size: 16px;
  color: #252525;
}
.content .main h1 {
  text-align: left;
  font-size: 30px;
  color: #332c2b;
  font-weight: 400;
}
.content .main h1 span {
  font-size: 14px;
  color: #252525;
}
.content .main h1 input {
  margin: 0px 8px 0px 15px;
}
.content .main .info {
  overflow: hidden;
  margin-left: 85px;
  width: 814px;
}
.content .main .info .car_info {
  position: relative;
  width: 900px;
  left: -60px;
}
.content .main .info .car_info li {
  float: left;
  width: 224px;
  text-align: center;
  font-size: 14px;
}
.content .main .info .car_info .li_1 {
  height: 69px;
  padding: 30px 0px 18px;
  border-left: 1px solid #eeeded;
  border-bottom: 1px dashed #eeeded;
}
.content .main .info .car_info .li_1 .img {
  height: 38px;
  margin: 0px auto 18px;
  background: url(http://www.huo68.com/statics/images/car_info.png) no-repeat;
}
.content .main .info .car_info .li_1 .img_1 {
  width: 63px;
  background-position: 0px 0px;
}
.content .main .info .car_info .li_1 .img_2 {
  width: 73px;
  background-position: -68px 0px;
}
.content .main .info .car_info .li_1 .img_3 {
  width: 100px;
  background-position: -140px 0px;
}
.content .main .info .car_info .li_1 .img_4 {
  width: 40px;
  background-position: -241px 0px;
}
.content .main .info .car_info input[type="radio"] {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.content .main .info .car_info .li_2 {
  height: 45px;
  padding-top: 15px;
  border-left: 1px solid #eeeded;
  color: #252525;
}
.content .main .info .car_info .li_2 input[type="radio"] {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.content .main .info .table {
  width: 430px;
  margin: 60px auto 50px;
  position: relative;
}
.content .main .info .table li {
  float: left;
  margin-bottom: 20px;
  color: #332c2b;
  font-size: 14px;
}
.content .main .info .table li input {
  width: 144px;
  padding-left: 9px;
  font-size: 12px;
  height: 20px;
  color: #000;
  border: 1px solid #d9d9d9;
  margin-left: 15px;
}
.content .main .info .table .mar_l {
  margin-left: 25px;
}
.content .main .info .table a {
  position: absolute;
  right: 0;
  top: 35px;
  color: #feae4f;
}
.content .main .info h4 {
  color: #252525;
  font-size: 14px;
  padding-bottom: 12px;
  font-weight: normal;
  border-bottom: 1px dashed #dbdbdb;
  margin-bottom: 15px;
}
.content .main .info .text {
  margin-bottom: 60px;
}
.content .main .info .text p {
  line-height: 20px;
  font-size: 12px;
  color: #7d7d7d;
}
.content .main .info .text .number {
  text-indent: 64px;
  font-size: 12px;
  color: #7d7d7d;
}
.content .main .info .paper ul li {
  float: left;
  width: 126px;
  height: 126px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 27px 0px 75px;
  background: url(http://www.huo68.com/statics/images/paper.png) no-repeat;
  position: relative;
}
.content .main .info .paper ul li p {
  text-align: center;
  font-size: 14px;
}
.content .main .info .paper ul li p a {
  color: #feae4f;
}
.content .main .info .paper ul li p .successed {
  color: #6f6f6f;
}
.content .main .info .paper ul li .img {
  margin: 8px 0 10px;
  height: 48px;
}
.content .main .info .paper .ul_2 {
  margin: 0px auto;
  width: 126px;
}
.content .main .info .paper .ul_2 li {
  margin: 0;
}
.content .main .info .basic_set {
  width: 480px;
  margin-bottom: 70px;
}
.content .main .info .basic_set input {
  disabled: disabled;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
}
.content .main .info .basic_set .name {
  width: 182px;
  padding: 4px 0px 4px 8px;
  margin-left: 11px;
  margin-right: 24px;
  outline: none;
  font-size: 12px;
  background-color: #fff;
}
.content .main .info .basic_set .tel {
  margin-left: 11px;
  width: 156px;
  padding: 4px 0px 4px 8px;
  outline: none;
  font-size: 12px;
  background-color: #fff;
}
.content .main .info .basic_set .change_pws {
  margin-top: 15px;
  text-align: right;
}
.content .main .info .basic_set .change_pws a {
  color: #feae4f;
  font-size: 12px;
}
.content .main .info .verify {
  width: 580px;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 40px;
  border-top: 1px dashed #dbdbdb;
}
.content .main .info .verify .li_1 {
  padding-left: 170px;
}
.content .main .info .verify .li_2 {
  padding-left: 158px;
}
.content .main .info .verify li {
  margin-bottom: 20px;
}
.content .main .info .verify li input {
  margin-left: 15px;
  width: 147px;
}
.content .main .info .verify li .msg {
  background: url(http://www.huo68.com/statics/images/btn_3.png) no-repeat;
  width: 118px;
  height: 29px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffab48;
  margin-right: 35px;
}
.content .main .bttn {
  text-align: right;
  margin-top: 70px;
}
.content .main .bttn .cancel {
  background: url(http://www.huo68.com/statics/images/btn_3.png) no-repeat;
  width: 118px;
  height: 29px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffab48;
  margin-right: 35px;
}
.content .main .bttn .sure {
  height: 29px;
  width: 118px;
  outline: none;
  background: url(http://www.huo68.com/statics/images/butn.png) no-repeat 0px 0px;
  color: #fff;
  border: none;
  font-size: 14px;
}
.content .main .bttn .sure:link {
  background-position: 0px 0px;
}
.content .main .bttn .sure:visited {
  background-position: 0px 0px;
}
.content .main .bttn .sure:hover {
  background-position: 0px -29px;
}
.content .main .bttn .sure:active {
  background-position: 0px -58px;
}
.content .main .basic_info {
  margin-top: 60px;
  padding-bottom: 52px;
  border-bottom: 1px dashed #dbdbdb;
}
.content .main .basic_info li {
  height: 22px;
  line-height: 22px;
  margin-top: 20px;
}
.content .main .basic_info li .mold {
  width: 72px;
}
.content .main .basic_info li input {
  margin-left: 20px;
  margin-right: 10px;
  width: 70px;
  padding-left: 10px;
}
.content .main .basic_info li select {
  margin-left: 20px;
  width: 84px;
  padding-left: 10px;
}
.content .main .adress_info {
  margin-top: 45px;
  width: 630px;
}
.content .main .adress_info .date {
  margin-bottom: 30px;
  position: relative;
}
.content .main .adress_info .date input {
  padding-left: 10px;
  width: 132px;
  margin-left: 20px;
  height: 20px;
}
.content .main .adress_info .date b {
  background: url(http://www.huo68.com/statics/images/b_3.png) no-repeat;
  width: 16px;
  height: 20px;
  position: absolute;
  top: 1px;
  left: 196px;
  display: block;
}
.content .main .adress_info .adress {
  margin-bottom: 55px;
}
.content .main .adress_info .adress input {
  width: 525px;
  margin-left: 70px;
  height: 20px;
  margin-top: 15px;
}
.content .main .adress_info .adress select {
  height: 20px;
  padding-left: 10px;
  width: 90px;
  margin-left: 20px;
  margin-right: 8px;
}
.content .main_4 {
  width: 1024px;
  margin: 0 auto;
  padding-top: 77px;
  padding-bottom: 122px;
}
.content .main_4 .lside {
  float: left;
  width: 281px;
}
.content .main_4 .rside {
  float: left;
  width: 430px;
  margin-left: 300px;
  padding-top: 133px;
}
.content .main_4 .rside .up {
  padding-top: 90px;
  background: url(http://www.huo68.com/statics/images/s.png) no-repeat;
  font-size: 34px;
  color: #4e4e4e;
  margin-bottom: 60px;
}
.content .main_4 .rside .code {
  float: left;
  width: 140px;
  height: 140px;
  margin-right: 27px;
}
.content .main_4 .rside .down {
  width: 261px;
  float: left;
}
.content .main_4 .rside .down a {
  display: block;
  width: 259px;
  height: 57px;
  line-height: 57px;
  text-align: center;
  font-size: 30px;
}
.content .main_4 .rside .down .ios {
  background: url(http://www.huo68.com/statics/images/ios.png) no-repeat;
  margin-bottom: 23px;
  color: #cccccc;
}
.content .main_4 .rside .down .adn {
  background: url(http://www.huo68.com/statics/images/adn.png) no-repeat;
  color: #feaf51;
}
.run {
  padding-top: 120px;
  height: 220px;
  width: 390px;
  margin: 0 auto;
  padding-bottom: 515px;
  background: url(http://www.huo68.com/statics/images/run.png) no-repeat 220px 135px;
}
.run h1 {
  color: #332c2b;
  font-size: 40px;
  margin-bottom: 45px;
}
.run p {
  font-size: 20px;
  color: #252525;
}
.run .bttn {
  margin-top: 50px;
}
.run .bttn a {
  float: left;
  display: block;
  text-align: center;
  line-height: 29px;
}
.run .bttn .home {
  background: url(http://www.huo68.com/statics/images/btn_3.png) no-repeat;
  width: 118px;
  height: 29px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffab48;
  margin-right: 35px;
  margin-left: 25px;
}
.run .bttn .pgup {
  height: 29px;
  width: 118px;
  outline: none;
  background: url(http://www.huo68.com/statics/images/butn.png) no-repeat 0px 0px;
  color: #fff;
  border: none;
  font-size: 14px;
}
.run .bttn .pgup:link {
  background-position: 0px 0px;
}
.run .bttn .pgup:visited {
  background-position: 0px 0px;
}
.run .bttn .pgup:hover {
  background-position: 0px -29px;
}
.run .bttn .pgup:active {
  background-position: 0px -58px;
}
.footer {
  padding: 28px 0px;
  background: #f3f3f3;
  min-width: 1024px;
  width: 100%;
}
.footer .foot {
  width: 1024px;
  margin: 0 auto;
}
.footer .foot p {
  line-height: 15px;
  text-align: center;
}
.footer .foot p img {
  border: none;
}
.opacity-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #7c7c7c;
  opacity: .6;
  filter: alpha(opacity=60);
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  *top: -12px;
  width: 126px;
  height: 126px;
  background: #f3f3f3;
  text-align: center;
  line-height: 126px;
  opacity: .6;
  filter: alpha(opacity=60);
  display: none;
  border-radius: 30px;
}
.loading img {
  *margin-top: 45px;
}
.introduce_color {
  color: #feaf51;
}
